[project]
	description = This is the repo for angularJS understanding
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pavan321
[access "refs/for/refs/*"]
	read = group user/pavan321
	push = group user/pavan321
	label-Code-Review = -2..+2 group user/pavan321
	label-Verified = -1..+1 group user/pavan321
	rebase = group user/pavan321
	removeReviewer = group user/pavan321
	submit = group user/pavan321
[access "refs/heads/*"]
	read = group user/pavan321
	create = group user/pavan321
	push = +force group user/pavan321
	pushMerge = group user/pavan321
[access "refs/tags/*"]
	push = group user/pavan321
	push = +force group user/pavan321
